.contenidoLogin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 35%;
  background-color: #ffffff;
  padding: 5vh;
  border-radius: 10px;
  box-shadow: 6px 5px 14px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 6px 5px 14px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 6px 5px 14px 0px rgba(0, 0, 0, 0.4);
}
span {
  color: #1265c4;
  text-decoration: underline;
}
h3 {
  color: rgb(7, 103, 153);
}

.formularioLogin label ,.login-icon{
  color: rgb(7, 103, 153);
}
.imgLogin {
  width: 125px;
  height: 125px;
  margin: 0px;
}
.imgRegister {
  width: 300px;
  height: 300px;
  /* margin-left: 90px; */
  margin-bottom: 80px;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.btn-outline-primary {
  border-radius: 0%;
}
.btn-outline-primary {
  /* color: #212529; */
  color: rgb(7, 103, 153);
  border-color: rgb(222, 226, 230);
}

