.table-container {
  font-family: "Lato", sans-serif;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
}
.search-bar {
  width: 57%;
}


.btnDatosTabla {
  background-color: transparent;
  color: #004b81;
  border: solid 1px #004b81;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;

}

.btnDatosTabla:hover {
  background-color: #0064ab;
  color: white;
}