/* src/App.css */
.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 100%;
    margin-top: 10px;
    width: 100%;
}

.form-row {
    display: flex;
}

.form-row input, .form-row textarea {
    width: 48%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.inputPresionArterial{
    border: 1px solid #ccc;
    border-radius: 4px;
}

.note {
    font-size: 12px;
    color: #888;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.errors {
    margin-top: 15px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin: 5px 0;
}

/* src/App.css */
@keyframes highlightError {
    0% {
        font-size: 12px;
        color: red;
    }
    50% {
        font-size: 15px;
        color: red;
    }
    100% {
        font-size: 12px;
        color: red;
    }
}

.note.error {
    color: red;
    font-size: 12px;
    margin-top: 10px;
    animation: highlightError 1s ease-in-out;
}


@media screen and (max-width: 737px) {

    /* formularios */
    .form-container{
      margin-bottom: 100px !important;
    }
    .form-row{
      flex-direction: column;
    }
    .form-row .w-50{
      width: 100% !important;
    }
    .form-row .w-75{
      width: 100% !important;
    }
    .form-row .w-25{
      width: 100% !important;
      padding: 0 !important;
    }
    .form-row .ps-3{
      
      padding: 0 !important;
      margin-top: 30px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    
}
