@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.35s linear;
  font-family: "barlow", sans-serif;
}
aside {
  background-color: #1c5392; /* Cambia esto al color que prefieras */
  color: white;
  width: 16rem;
  display: grid;
  grid-template-rows: 6rem 1fr 8rem;
  padding: 0.5rem;
  transition: width 0.35s linear, padding 0.35s linear;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
label{
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0; /* Elimina el espaciado a la izquierda */
  
}
li{
  cursor: pointer;
}

ul li a {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-block: 0.25rem;
  transition: background-color 0.2s linear;
  overflow: hidden;
}

ul li a.active,
ul li a:hover {
  background-color: #c7c7c7;
  color: #000;

}

ul li a i {
  width: 4rem;
  height: 3.5rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li a label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.5rem;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.mini {
  width: 9rem;
  padding: 0;
}

.mini .link ul li a i {
  margin: 0 auto;
}

.mini ul li a label {
  opacity: 0;
  visibility: hidden;
}

.mini ul li a {
  width: 4rem;
}

.mini ul li a:hover {
  box-shadow: 0 0.5rem 0.5rem #24242436;
}

.mini .link label {
  opacity: 0;
  visibility: hidden;
}

.mini .link label:hover {
  opacity: 1;
  visibility: visible;
}

ul li.active {
  background-color: #c7c7c7; /* Color de fondo resaltado */
  color: #000;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.1s linear;
  overflow: hidden;

}

ul li.active i {
  color: #000; /* Color del ícono cuando está activo */
}
ul li.active label {
  color: #000; /* Color del ícono cuando está activo */
}
