#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}
.contenido{
  position: relative;
}
h2, h3, h4, h5{
  font-family: "Oswald", sans-serif;
}

.backPrincipal {
  margin: 0;
  width: 100%;
  background-image: url("../assets/back.svg"); 
  background-size: cover; 
  background-position: bottom; 
  background-repeat: no-repeat; 
  min-height: 100vh; 

}
.imgNavbar {
  width: 62px;
  height: 57px;
  padding: 2px;
  margin-left: 4px;
}
#loginButtom{
  color: #3e72af;
  font-size: 33px;
}
#signUpButtom{
  color: #3e72af;
  font-size: 27px;
  margin-right: 10px;
  margin-top: 2px;
}
.contenedorGrafico{
  max-height: 225px;
  min-width: 300px;
}
.span-urgency{
  color: #212529;
  text-decoration: none;
}
.card{
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}